<div class="card">
    <div class="card-body">
      <h5 class="card-title">{{ watch.brand }}</h5>
      <p class="card-text">
        {{ watch.style.startsWith("E") ? "An" : "A"}} 
        {{ watch.style.toLowerCase() }} 
        watch with 
        {{watch.display.toLowerCase() === 'analog' ? 'an' : 'a'}} 
        {{ watch.display.toLowerCase() }} 
        display
      </p>
      <a [routerLink]="['/watch', watch.id, 'edit']" class="btn btn-primary">Edit</a>
    </div>
</div>