
<form (submit)="submitForm($event, brand, display, style)" *ngIf="brands && watch">

    <div class="form-group">
        <label for="brand">Brand</label>
        <select name="brand" id="brand" class="form-control" #brand>
            <option value=""> Choose... </option>
            <option *ngFor="let brand of brands" [value]="brand" [selected]="watch.brand === brand"> {{ brand }} </option>
        </select>
    </div>

    <div class="form-group">
        <label for="display">Display</label>
        <select name="display" id="display" class="form-control" #display>
            <option value=""> Choose... </option>
            <option [selected]="watch.display === 'Analog'">Analog</option>
            <option [selected]="watch.display === 'Digital'">Digital</option>
            <option [selected]="watch.display === 'Mixed'">Mixed</option>
        </select>
    </div>

    <div class="form-group">
        <label for="style">Style</label>
        <select name="style" id="style" class="form-control" #style>
            <option value=""> Choose... </option>
            <option [selected]="watch.style === 'Casual'">Casual</option>
            <option [selected]="watch.style === 'Elegant'">Elegant</option>
            <option [selected]="watch.style === 'Sports'">Sports</option>
        </select>
    </div>

    <div class="form-group">
        <button class="btn btn-primary">Edit</button> <a [routerLink]="['/watch', id, 'delete']" class="btn btn-link text-danger" style="margin-left: 10px;">Delete</a>
    </div>

</form>