
<h1 class="display-6" style="font-family: Montserrat, sans-serif; margin: 1em 0">New watch</h1>

<form (submit)="submitForm($event, brand, display, style)" *ngIf="brands">

    <div class="form-group">
        <label for="brand">Brand</label>
        <select name="brand" id="brand" class="form-control" #brand>
            <option value="" selected> Choose... </option>
            <option *ngFor="let brand of brands" [value]="brand"> {{ brand }} </option>
        </select>
    </div>

    <div class="form-group">
        <label for="display">Display</label>
        <select name="display" id="display" class="form-control" #display>
            <option value="" selected> Choose... </option>
            <option>Analog</option>
            <option>Digital</option>
            <option>Mixed</option>
        </select>
    </div>

    <div class="form-group">
        <label for="style">Style</label>
        <select name="style" id="style" class="form-control" #style>
            <option value="" selected> Choose... </option>
            <option>Casual</option>
            <option>Elegant</option>
            <option>Sports</option>
        </select>
    </div>

    <div class="form-group">
        <button class="btn btn-primary">Create</button>
    </div>

</form>