
<div class="jumbotron">
    <h1 class="display-4">Are you sure?</h1>
    <p class="lead">Are you sure you want to delete the {{ watch.style.toLowerCase() }} {{ watch.brand }} watch with {{ watch.display.toLowerCase() }} display?</p>
    <hr class="my-4">
    <p>Once it is deleted, it cannot be restored</p>
    <form (submit)="submitForm($event)">
        <button class="btn btn-danger btn-lg" href="#" role="button">I'm sure</button>
        <a [routerLink]="['/watch', id, 'edit']" class="btn btn-link warning">Go back</a>
    </form>
</div>