<div class="image-header">
    
</div>

<div class="row" *ngIf="watches">
    <div class="col col-md-4" style="margin-bottom: 30px;" *ngFor="let watch of watches">
        <app-card [watch]="watch"></app-card>
    </div>
</div>